.map {
    margin: 10px 0;
}

.map > div {
    width: 100%;
    height: 400px;
    background-color: transparent !important;
}
.map > div > div {
    border-radius: 8px !important;
}

.button-group-wrap {
    text-align: center;
    margin: 20px;
}

.foot-info {
    margin: 10px 0;
}